{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Usage" {:file "doc/usage.md"}
   ["Configuration and REPL" {:file "doc/configuration.md"}]
   ["Querying DOM" {:file "doc/queries.md"}]
   ["Interacting with DOM" {:files "doc/interactions.md"}]]]}
